.react-modal-close-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #555;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  